@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, YuGothic, Arial, "Noto Sans JP", "メイリオ", Meiryo, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #333;
  letter-spacing: 0.03em; }

body {
  width: 100%;
  background-color: #fafafa; }

#cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  display: none; }

#container a {
  color: #37b;
  text-decoration: none; }
#container #header-block, #container #title-block, #container #controls-block, #container #article-block, #container #footer-block {
  margin: 0 auto;
  width: calc(100% - 32px);
  max-width: 640px; }
#container #header-block {
  width: 100%;
  height: 90px;
  padding: 8px 16px;
  top: 0;
  left: 0;
  text-align: center;
  box-shadow: none; }
  #container #header-block #img-logo {
    margin: 10px 0;
    height: calc(100% - 20px); }
#container #title-block {
  margin-top: 24px; }
  #container #title-block h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 32px; }
  #container #title-block h5 {
    margin-top: 8px;
    font-size: 16px;
    color: #666;
    line-height: 24px; }
  #container #title-block .date {
    margin-top: 16px;
    color: #999;
    font-size: 16px;
    position: relative; }
    #container #title-block .date #link-language {
      position: absolute;
      top: 0;
      right: 0; }
#container #controls-block {
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 12px;
  text-align: center; }
  #container #controls-block select {
    margin: 8px 4px;
    width: 280px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 10%;
    background-position: calc(100% - 4px) 7px;
    background-repeat: no-repeat;
    background-image: url(../img/material-icon-down.svg);
    padding: 7px 16px;
    font-size: 16px;
    background-color: #fefefe;
    border: none;
    border-radius: 4px;
    border: 1px solid #ddd; }
    #container #controls-block select:hover {
      cursor: pointer; }
#container #iframe-block {
  width: 100%;
  height: 400px;
  background-color: #aaa;
  transition: none;
  position: relative; }
  @media screen and (min-width: 600px) {
    #container #iframe-block {
      height: 500px; } }
  @media screen and (min-width: 900px) {
    #container #iframe-block {
      height: 600px; } }
  #container #iframe-block #no-support {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: no-repeat center/cover url("../img/image_1200_630.png");
    z-index: 100;
    display: none; }
    #container #iframe-block #no-support.show {
      display: block; }
    #container #iframe-block #no-support .cover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7); }
      #container #iframe-block #no-support .cover p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(255, 255, 255, 0.9);
        font-size: 0.9em;
        text-align: center; }
  #container #iframe-block #button-close {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    background: no-repeat center/80% url("../img/icon-close.svg");
    background-color: #fefefe;
    cursor: pointer;
    display: none; }
#container p.fullscreen {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 14px; }
  #container p.fullscreen a {
    cursor: pointer; }
#container #article-block p {
  margin-bottom: 16px;
  line-height: 36px; }
  #container #article-block p.small {
    margin-bottom: 4px;
    font-size: 14px;
    color: #888;
    line-height: 24px; }
    #container #article-block p.small a {
      font-size: 14px; }
#container #social-block {
  display: flex;
  width: fit-content;
  margin: 48px auto 48px auto; }
  #container #social-block a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 0 12px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }
    #container #social-block a.fbshare {
      background-image: url("../img/social-icon-fbshare.svg"); }
    #container #social-block a.twitter {
      background-image: url("../img/social-icon-twitter.svg"); }
    #container #social-block a.gplus {
      background-image: url("../img/social-icon-gplus.svg");
      background-size: 90%; }
    #container #social-block a.line {
      background-image: url("../img/social-icon-line.png"); }
#container #footer-block {
  color: #aaa;
  text-align: center;
  height: 120px;
  font-size: 0.8em; }
  #container #footer-block hr {
    border: none;
    border-top: 1px solid #eee;
    margin-top: 24px;
    margin-bottom: 32px; }
  #container #footer-block #img-corporate {
    width: 140px;
    opacity: 0.8; }
  #container #footer-block p {
    margin-top: 4px; }

body.en #article-block p {
  font-family: 'PT Serif';
  font-size: 17px; }
  body.en #article-block p a {
    font-family: 'PT Serif';
    font-size: 17px; }
  body.en #article-block p.small {
    font-size: 15px !important; }
    body.en #article-block p.small a {
      font-size: 15px !important; }

body.fullscreen {
  overflow-y: hidden; }
  body.fullscreen #container #iframe-block {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    body.fullscreen #container #iframe-block #button-close {
      display: block; }

/*# sourceMappingURL=style.css.map */
